[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonpickle = "*"
passlib = "*"
pycrypto = "*"
unipath = "*"
watchdog = "*"
enlighten = "*"
delegator-py = "*"
secretsharing = { editable = true, path = "./secret-sharing" }
sarge = "*"
pendulum = "*"
regex = "*"
jsonrpclib = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
check_ball = "ipython check_ball.py"